<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>我的伙伴</title>
		<script th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
		<script th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
		<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.bundle.js}"></script>
		<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
		<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
		<link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.css}" />
		<style>

		</style>
		<script>

		</script>
	</head>
	<body>
		<div th:replace="~{/comment/bar :: copy(activeUri='recommend')}"></div>
		<div class="container">
			<div class="jumbotron">
				<h1 class="display-4">管理员：[[${session.user.username}]]你好!</h1>
				<p class="lead">这是我的伙伴程序的后台界面</p>
				<hr class="my-4">
				<a class="btn btn-primary btn-lg" th:href="@{/thyCommentToAdmin}" role="button">查看评论</a>
				<table style="margin-left: 20%" >
					<tr th:each="comment:${comments}">
						<td th:text="${comment.user.username}+："></td>
						<td th:text="${comment.comment}"></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
